.header {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Montserrat", sans-serif;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 40px 3px;
  }
}

.header__logo {
  display: inline-block;
  padding: 11px 20px 9px;

  @media (min-width: $tablet-width) {
    padding: 22px 0 7px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 21px 0 7px;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:focus {
  outline: none;
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__logo-image {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__link {
  display: none;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    font-weight: 400;
    display: block;
    align-self: center;
    width: 155px;
    margin: -13px 0 0 21px;
  }
}
