.nav {
  background: $basic-white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    align-items: center;
    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: unset;
    justify-content: flex-end;
    gap: 150px;
  }
}

.nav__list-wrapper {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.nav__link {
  padding: 15px 30px;
  background-color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 28px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 9px;
    text-align: center;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: $basic-primary;
  outline: none;
}

.nav__link:active {
  background-color: $basic-secondary;
}

.nav__link-text {
  font-size: 0;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-transform: uppercase;
    padding-left: 38px;
  }
}

.nav__link--account {
  background: url("/images/icons/stack.svg#account") no-repeat center;
  background-size: 16px 16px;

  @media (min-width: $desktop-width) {
    background-position: 36px center;
    width: 112px;
  }
}

.nav__link--basket {
  background: url("/images/icons/stack.svg#basket") no-repeat center;
  background-size: 16px 16px;

  @media (min-width: $desktop-width) {
    background-position: 38px center;
    width: 129px;
  }
}

.nav--opened .nav__toggle {
  background: url("/images/icons/stack.svg#nav-closed") no-repeat center;
  background-size: 16px 12px;
  padding: 15px 30px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background: url("/images/icons/stack.svg#nav-opened") no-repeat center;
  background-size: 16px 12px;

  padding: 15px 30px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle {
  display: block;
  cursor: pointer;
  background-color: $basic-black;
}

.nav__toggle:focus {
  outline: none;
}

.nav__toggle:active {
  background-color: $basic-secondary;
}

.nav--closed .nav__list-item {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
