.nav {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-left: 43px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: unset;
    justify-content: flex-end;
    gap: 150px;
  }
}

.nav__list-wrapper {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 147px;
  }
}

.nav__link {
  padding: 15px 30px;

  @media (min-width: $tablet-width) {
    padding: 28px 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 9px;
    text-align: center;
  }
}


.nav__link-text {
  font-size: 0;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-transform: uppercase;
  }
}

.nav__link--account {
  background: url("/images/header/account.svg") no-repeat center;

  @media (min-width: $desktop-width) {
    background-position: 18px center;
    width: 112px;
  }
}

.nav__link--basket {
  background: url("/images/header/basket.svg") no-repeat center;

  @media (min-width: $desktop-width) {
    background-position: 19px center;
    width: 129px;
  }
}

.nav--opened .nav__toggle {
  background: url("/images/header/nav-closed.svg") no-repeat center;
  padding: 15px 30px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background: url("/images/header/nav-opened.svg") no-repeat center;
  padding: 15px 30px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle {
  display: block;
  cursor: pointer;
}

.nav--closed .nav__list-item {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
