.form {
  margin: 0;
  padding: 20px 0 0;

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.form__groups {
  @media (min-width: $tablet-width) {
    display: grid;
    flex-wrap: nowrap;
    padding: 0;
    gap: 30px;
    grid-template-columns: 223px 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: unset;
    padding-left: 0;
    gap: 10px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 600;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__wrapper {
  margin: 9px 0 0;
  padding: 0 21px;

  @media (min-width: $tablet-width) {
    margin: 20px auto;
    display: flex;
    padding: 0;
    width: 277px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0 0;
    width: 337px;
    gap: 19px;
  }
}

.form__button {
  width: 280px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 137px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.form__button--reset {
  background-color: $basic-white;
  color: $basic-primary;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    width: 120px;
    margin-top: unset;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    margin-left: unset;
  }
}

.form__button--reset:disabled {
  background-color: $light-grey;
}
