.form {
  margin: 0;
  padding: 20px 0 0;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 600;
  padding: 0 20px;
}

.form__list {
  margin: 0;
  padding: 20px 20px 0;
  list-style: none;
}

.form__wrapper {
  margin: 9px 0 0;
  padding: 0 21px;
}

.form__button {
  width: 280px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__button--reset {
  background-color: $basic-white;
  color: $basic-primary;
  margin-top: 21px;
}
