.group-price {
  padding: 24px 20px 28px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.group-price__title {
  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }
}

.group-price__container {
  padding: 0;
  position: relative;
}

.group-price__wrapper {
  padding: 25px 0 0 2px;
  display: flex;
  gap: 18px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 0;
    gap: 20px;
    width: 318px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}

.group-price__line {
  background-color: $basic-grey;
  width: 8px;
  height: 2px;

}
