.features {
  margin: 0;
  padding: 50px 0 0 0;
  min-width: 320px;
  font-family: "Montserrat";
  text-align: center;
}

.features__tag {
  color: $basic-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.features__heading {
  margin: 0;
  padding: 3px 11px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.features__item {
  padding: 0 23px;
  position: relative;
}

.features__item::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 56px;
}


.features__item--speed {
  background: url('/images/icons/icon-speed.svg') no-repeat center;
}

.features__item--fit {
  background: url('/images/icons/icon-fit.svg') no-repeat center;
}

.features__item--energy {
  background: url('/images/icons/icon-energy.svg') no-repeat center;
}

.features__item--eco {
  background: url('/images/icons/icon-eco.svg') no-repeat center;
}

.features__title {
  margin: 99px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.features__text {
  margin: 0;
  padding: 3px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
