.developers {
  margin: 0;
  padding: 20px 55px 30px;
  display: flex;
  gap: 5px;

  @media (min-width: $tablet-width) {
    padding: 39px 30px 40px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.developers__text,
.developers__link-name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-grey;
}

.developers__link-logo {
  background: url("/images/icons/stack.svg#academy-logo") no-repeat center center;
  width: 12px;
  height: 16px;
}

.developers__link:hover,
.developers__link:focus {
  outline: none;
  filter: invert(47%) sepia(18%) saturate(2409%) hue-rotate(217deg) brightness(89%) contrast(86%);
}

.developers__link:active {
  filter: invert(36%) sepia(29%) saturate(896%) hue-rotate(213deg) brightness(94%) contrast(100%);
}
