.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 0;
  padding: 8px 0 0;
  list-style: none;
  display: flex;
  gap: 40px;

  @media (min-width: $desktop-width) {
    padding: 60px 0 0 10px;
  }
}

.social__link {
  width: 20px;
  height: 20px;
}

.social__link--vkontakte {
  background: url('/images/icons/stack.svg#vk') no-repeat center center;
}

.social__link--pinterest {
  background: url('/images/icons/stack.svg#pinterest') no-repeat center center;
}

.social__link--ok {
  background: url('/images/icons/stack.svg#ok') no-repeat center center;
}
