.button {
  font-family: "Montserrat", sans-serif;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: $basic-white;
  background-color: $basic-primary;
}

.button:hover {
  background-color: $primary-lighter;
  color: $basic-white;
}

.button:focus {
  background-color: $primary-lighter;
  outline: none;
  color: $basic-white;
}

.button:active {
  background-color: $primary-darker;
  color: $basic-white;
}

.button:disabled {
  background-color: $basic-grey;
  color: $basic-white;
}
