.rangescale {
  position: relative;
  width: 280px;
  height: 20px;
}

.rangescale__wrapper {
  position: absolute;
  width: 100%;
  height: 1px;
  border-top: 4px solid $light-grey;
  left: 1px;
  top: 7px;
  z-index: 1;
}

.rangescale__range-handle {
  display: none;
}
