.catalog {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $lightest-grey;
}

.catalog__tag {
  padding-top: 52px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding: 4px 4px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    padding-left: 4px;
  }
}

.catalog__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: repeat(2, 1fr);
  }
}

.catalog__sort {
  display: flex;
  margin: 44px 0 20px;
  padding: 0 5px;
  gap: 8px;

  @media (min-width: $tablet-width) {
    padding: 0 18px 0 0;
    gap: 11px;
    justify-content: flex-end;
    margin-bottom: 29px;
  }
}

.catalog__sort-title {
  margin: 0;
  padding-left: 18px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 600;
}

.catalog__select {
  color: $basic-primary;
  background: url('/images/icons/stack.svg#select') no-repeat transparent;
  background-size: 10px 6px;
  background-position: right 13px top 9px;
  font-family: "Monsterrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 168px;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  text-transform: lowercase;
  text-align: left;
  letter-spacing: 1px;
  appearance: none;
}

.catalog__list {
  margin: 0;
  padding: 0;
}
